ul#flex-container{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: baseline;
}

img {
    height: 380px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
}

.button{
    align-content: center;
    align-items: center;
    vertical-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    width: 250px;
    height: 70px;
}