.TimerTitle{
    font-size: 15px;
    text-align: center;
    width: 250px;
    height: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}
.Timer{
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 40px;
    margin: 0px auto auto;
    background-color: black;
    color: white;
}